PORT=5000
MONGO_URI=mongodb://localhost:27017/gravity
JWT_SECRET=supersecretgravitykey2026
ADMIN_PASSWORD=adminsecret123
STRIPE_SECRET_KEY=sk_test_mockkey
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_app_password
# ADMIN EMAIL: replace with your email
ADMIN_EMAIL=admin@gravity.com
